a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 26px;
  color: #000;
  background-color: var(--fon-color);
}

.content-box-component {
  box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.button {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  line-height: 12px;
  color: #fff;

  border: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  background-color: var(--btn-color);

  cursor: pointer;

  &:active {
    background-color: var(--btn-active);
  }

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 20px;
  }
}

.page-main {
  width: 100%;
  height: 100vh;

  padding: 20px 0px;

  display: grid;
  grid-template-rows: [up]100px [down]1fr;
  grid-template-columns: 1fr [content] 10fr 1fr;
  grid-gap: 24px;
}

.up-row {
  grid-row: up;
  grid-column: content;
}

.up-row__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > li {
    width: 100%;
    height: 100%;

    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}

.down-row {
  grid-row: down;
  grid-column: content;
}

.down-row__list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  & > li {
    padding: 8px;
    height: 100%;
    width: 100%;
    border: 1px solid gray;
    border-radius: 8px;

    &:not(:last-of-type) {
      margin-right: 24px;
    }
  }
}
